<div class="container-fluid text-light bg-dark title">
  <img class="logo_icon rounded-circle" src="https://via.placeholder.com/75x75.png">
  Fitness Tracker using Angular
</div>
<nav class="navbar bg-secondary navbar-expand-sm sticky-top">
  <div class="container-fluid">
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#myNav"><span class="navbar-toggler-icon"><h3>=</h3></span></button>
    <div id="myNav" class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto ">
        <li class="nav-item"> <button class="btn btn-outline-warning btn-nav" (click)="landingpage()">Home</button></li>
        <li class="nav-item"><button class="btn btn-outline-warning btn-nav" (click)="placeAppointment()">Place
            Appointment</button></li>
        <li class="nav-item"><button class="btn btn-outline-warning btn-nav" (click)="viewAppointment()">View
            Appointment</button></li>
        <li class="nav-item"><button class="btn btn-outline-warning btn-nav" (click)="contactUspage()">Contact
            Us</button></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <div class="row" style="border: 1px solid;padding: 10px;">
    <div class="border border-primary sidebar col-2 d-none d-sm-block ml-0">
      <button class="btn btn-link text-dark" (click)="landingpage()"><h6>Home</h6></button><br>
      <button class="btn btn-link text-dark" (click)="placeAppointment()"><h6>Place Appointment</h6></button><br>
      <button class="btn btn-link text-dark" (click)="viewAppointment()"><h6>View Appointment</h6></button><br>
      <button class="btn btn-link text-dark" (click)="contactUspage()"><h6>Contact Us</h6></button>

    </div>
    <div class="col-sm-10 border border-info" style="padding: 20px 10px;">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>